@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//CDE project pallette
$aero: #78b1e4;//primary
$blue-yonder: #3a73a5;//info
$eton-blue: #79c6a1;//success
$shamock-green: #10a35c;//link
$dark-spring-green: #1c7c4e;//visited link
$deer: #c28561;//danger
$hansa-yellow: #ddcc6c;//warning

$outer-space: #3e4a59;
$independence: #495668;

$cream-white: #f5f5f5;
$alice-blue: #d9e6ee;

// Update Bulma's global variables
$primary: $aero;
$info: $blue-yonder;
$success: $eton-blue;
$warning: $hansa-yellow;
$danger: $deer;
$link: $shamock-green;
$link-visited: $dark-spring-green;
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $outer-space;
$grey-light: $independence;
$white-ter: $cream-white;
$grey-lighter: $alice-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $cream-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../bulma-0.7.4/bulma.sass";
